/* .tab-icon-image:not([pinned]) {
	margin-inline-end: 6px !important;
}
*/

/* make landing page fit entire screen */
.masthead {
  background-size: cover;
  min-height: 90vh;
  position: relative;
}

/* restrict text for visibility */
.restrict-text {
  max-width: 900px;
}

ol li {
  padding-bottom: 10px;
}

/* to avoid navbar covering content */
section {
  padding-top: 85px;
}
#intro {
  padding-top: 100px;
}

.icon {
  margin-bottom: 5px;
  text-decoration: none;
}

.carousel-item > img {
  border: 2px solid black;
}

header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

/* Typewriting animation */
#fluidDescription {
  color: #3bc4d9;
  font-weight: bold;
}

#cursor {
  color: #3bc4d9;
  display: inline;
  font-size: x-large;
  padding-left: 0;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

/* fade-in animation */
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.row-cols-1 {
  width: 100%;
}
