/* .tab-icon-image:not([pinned]) {
	margin-inline-end: 6px !important;
}
*/

/* make landing page fit entire screen */
 .masthead{
	background-size: cover;
	min-height: 90vh;
	position: relative;
 }

/* restrict text for visibility */
.restrict-text{
	max-width: 900px;
 }

 ol li{
	padding-bottom: 10px;
 }

 /* to avoid navbar covering content */
section {
	padding-top: 85px;
}
#intro{
	padding-top: 100px;
}




.icon {
	margin-bottom: 5px;
	text-decoration: none;
}


.carousel-item > img{
	border: 2px solid black;
}


header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}



/* @media (max-width: 600px) { 
	section{
	   padding-left: 15px;
	}
 }
 
 @media (min-width: 601px) { 
	section{
	   padding-top: 15px;
	   padding-left:0;
	}
 } */

